[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/libxse/commonlibsse.git
[submodule "extern/styyx-utils"]
	path = extern/styyx-utils
	url = https://codeberg.org/Styyx/StyyxUtils
	branch = xse
